@use "../common.scss";

@include common.theme;

.title1 {
  @include common.override(dark) {
    fill: common.textColor(paper, 0, dark);
  }

  @include common.override(light) {
    fill: common.textColor(paper, 0, light);
  }
}

.title2 {
  @include common.override(dark) {
    fill: common.textColor(paper, 2, dark);
  }

  @include common.override(light) {
    fill: common.textColor(paper, 2, light);
  }
}

body {
  @include common.override {
    width: 380px;
    padding: 0;
    margin: 0;
  }
}

.title-wrapper {
  @include common.override {
    padding: common.spacing(1) common.spacing(2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.button-wrapper {
  @include common.override {
    display: flex;
    flex-direction: row;
    gap: common.spacing(1);
  }
}

#advancedMode {
  @include common.button(paper, filled, 1);

  @include common.override {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-radius: 0;
    padding: common.spacing(1) common.spacing(2);
  }

  @include common.override(dark) {
    fill: common.textColor(paper, 0, dark);
  }

  @include common.override(light) {
    fill: common.textColor(paper, 0, light);
  }

  &:not(.on) svg.on {
    display: none;
  }

  &.on svg:not(.on) {
    display: none;
  }
}

#advanced-panel {
  @include common.paper(1);

  @include common.override {
    display: none;
    padding: common.spacing(2);
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

#advanced-panel.on {
  @include common.override {
    display: block;
  }
}

#darkMode {
  @include common.button(secondary, filled, 0);
  @include common.override {
    width: 57px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    @include common.override(dark) {
      fill: common.textColor(secondary, 0, dark);
    }

    @include common.override(light) {
      fill: common.textColor(secondary, 0, light);
    }

    @include common.override {
      height: 24px;
      width: 24px;
    }
  }

  svg:not(.on) {
    transform: rotateZ(180deg);
  }

  &:not(.on) svg.on {
    display: none;
  }

  &.on svg:not(.on) {
    display: none;
  }
}

#enabled {
  @include common.button(primary, filled, 0);
  @include common.override {
    width: 57px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    @include common.override(dark) {
      fill: common.textColor(primary, 0, dark);
    }

    @include common.override(light) {
      fill: common.textColor(primary, 0, light);
    }

    @include common.override {
      height: 24px;
      width: 24px;
    }
  }
}

[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  margin: 12px 0;
  width: 100%;
}

[type="range"]:focus {
  outline: 0;
}

//#region Strength
#primary-strength::-webkit-slider-runnable-track,
#paper-strength::-webkit-slider-runnable-track {
  background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 100%, 100%));
}

#primary-strength::-webkit-slider-thumb {
  @include common.override(dark) {
    background: hsla(0, 0%, calc(var(--primary-strength) * 100%), 1);
  }

  @include common.override(light) {
    background: hsla(0, 0%, calc(var(--primary-strength) * 100%), 1);
  }
}

#paper-strength::-webkit-slider-thumb {
  @include common.override(dark) {
    background: hsla(0, 0%, calc(var(--paper-strength) * 100%), 1);
  }

  @include common.override(light) {
    background: hsla(0, 0%, calc(var(--paper-strength) * 100%), 1);
  }
}
//#endregion

//#region Hue
#primary-hue::-webkit-slider-runnable-track,
#paper-hue::-webkit-slider-runnable-track {
  @include common.override {
    background: linear-gradient(
      to right,
      #ff8c8c,
      #ffff8c,
      #8cff8c,
      #8ce5e5,
      #a4a4d2,
      #bf9ebf,
      #ff8c8c
    );
  }
}

#primary-hue::-webkit-slider-thumb {
  @include common.override(dark) {
    background: hsla(var(--hue-primary), 100%, 77.5%, 1);
  }

  @include common.override(light) {
    background: hsla(var(--hue-primary), 100%, 77.5%, 1);
  }
}

#paper-hue::-webkit-slider-thumb {
  @include common.override(dark) {
    background: hsla(var(--hue-paper), 100%, 77.5%, 1);
  }

  @include common.override(light) {
    background: hsla(var(--hue-paper), 100%, 77.5%, 1);
  }
}
//#endregion

[type="range"]::-webkit-slider-runnable-track {
  @include common.override(dark) {
    border: 2px solid common.color(paper, 3, dark);
  }

  @include common.override(light) {
    border: 2px solid common.textColor(paper, 0, light);
  }

  @include common.override {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    border-radius: common.borderRadius(1.5);
  }
}

[type="range"]::-webkit-slider-thumb {
  @include common.override {
    border-radius: common.borderRadius(3);
    box-sizing: border-box;
    cursor: default;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    margin-top: -8px;
    cursor: pointer;
    border: 2px solid common.color(paper, 2, dark);
  }
}

[type="range"]:disabled::-webkit-slider-thumb,
[type="range"]:disabled::-webkit-slider-runnable-track {
  cursor: not-allowed;
  opacity: 0.5;
}

[type="range"]:disabled::-webkit-slider-thumb {
  display: none;
}
