.uoft-dark-mode * {
  font-family: Arial, Helvetica, sans-serif !important;
}

.uoft-dark-mode body > header > div > div:nth-child(1) > div > a > object,
.uoft-dark-mode body > div > div > div.col-md-5 > div.login-box-bar.clearfix {
  display: none;
}

.uoft-dark-mode body > header > div > div:nth-child(1) > div > a {
  background: url(https://cayendo-org.github.io/uoft-dark-mode/uoft_logo.svg)
    no-repeat;
  border: 1px solid transparent;
}

html.uoft-dark-mode {
  color-scheme: dark;
}

.uoft-dark-mode body {
  overflow-y: scroll;
}

html.uoft-dark-mode,
html.uoft-dark-mode body {
  background-color: #121212;
  color: #ffffff;
}

.uoft-dark-mode body > div > div > div.col-md-4 > div.login-box,
.uoft-dark-mode body > div > div > div.col-md-5 > div.login-box {
  background: #282828;
  border-bottom: none;
  border-radius: 6px;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > section:nth-child(1)
  > p,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > section:nth-child(2)
  > p {
  color: #e3e3e3;
  font-size: 13px;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > div:nth-child(3)
  > label,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > div:nth-child(2)
  > label {
  color: #e3e3e3;
  font-weight: 500;
  font-size: 16px;
}

.uoft-dark-mode body > div > div > div.col-md-4 > div.login-box > form > button,
.uoft-dark-mode #login-with-partner > button {
  width: 100% !important;
  text-transform: capitalize;
  border-radius: 4px;
}

.uoft-dark-mode body > header > div > div:nth-child(2) > div {
  border-radius: 6px;
  background: transparent;
  color: #e3e3e3;
  text-transform: capitalize;
}

.uoft-dark-mode #howToLogOut,
.uoft-dark-mode body > div > div > div.col-md-4 > div.alert.alert-warning > a,
.uoft-dark-mode #doc-login-problems > p > a,
.uoft-dark-mode #doc-forgotten-password > p > a {
  color: #69a9f5;
}

.uoft-dark-mode #doc-protect > ul > li:nth-child(3) > span {
  color: #898989;
}

.uoft-dark-mode #doc-protect > ul > li:nth-child(3) > span > strong,
.uoft-dark-mode #doc-log-out > p:nth-child(4) > strong.alert-danger,
.uoft-dark-mode #doc-log-out > p:nth-child(5) > strong.alert-danger,
.uoft-dark-mode #doc-protect > ul > li:nth-child(2) > span > strong,
.uoft-dark-mode #doc-protect > ul > li:nth-child(2) > span {
  color: #898989;
  background-color: transparent;
  border-color: transparent;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > button
  > span,
.uoft-dark-mode #login-with-partner > button > span,
.uoft-dark-mode body > div > div > div.col-md-4 > div.login-box-bar {
  display: none;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-8
  > div
  > div.col-md-9.col-sm-12.col-xs-12
  > div,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-7
  > div
  > div.col-md-9.col-sm-12.col-xs-12
  > div {
  border-radius: 6px;
  padding-bottom: 10px;
  background: #282828;
  border-top: 5px solid #282828;
}

.uoft-dark-mode #doc-protect > h2,
.uoft-dark-mode #doc-error > h2,
.uoft-dark-mode #doc-login-problems > h2,
.uoft-dark-mode #doc-forgotten-password > h2,
.uoft-dark-mode #doc-log-out > h2,
.uoft-dark-mode #doc-finding-help > h2 {
  color: #ffffff;
  font-size: 22px;
}

.uoft-dark-mode #doc-log-out > span > strong {
  color: #ffffff;
  font-weight: 600;
}

.uoft-dark-mode #doc-protect > ul > li:nth-child(1) > span,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > div
  > p:nth-child(1),
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > div
  > p:nth-child(3),
.uoft-dark-mode #doc-error > p,
.uoft-dark-mode #doc-forgotten-password > p,
.uoft-dark-mode #doc-login-problems > p,
.uoft-dark-mode #doc-log-out > p:nth-child(3),
.uoft-dark-mode #doc-log-out > p:nth-child(4),
.uoft-dark-mode #doc-log-out > p:nth-child(5),
.uoft-dark-mode #collapse_PwReq_LoginProblems > div > p,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > p,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > h4,
.uoft-dark-mode #collapse_UTORidLoginProblems > div,
.uoft-dark-mode #collapse_JOINid_LoginProblems > div > p,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > h4,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > p,
.uoft-dark-mode #collapse_JOINidForgottenPW > div > p,
.uoft-dark-mode #collapse_UTORidForgottenPW > div,
.uoft-dark-mode #collapseHelp_UTORid > div > p,
.uoft-dark-mode #collapseHelp3 > div > p,
.uoft-dark-mode #collapseHelp_uSOURCE > div > p,
.uoft-dark-mode #collapseHelp_ess > div > p,
.uoft-dark-mode #collapseHelp_erdd > div > p,
.uoft-dark-mode #collapseHelp_IC > div > p,
.uoft-dark-mode #collapseHelp_JOINid > div > p,
.uoft-dark-mode #collapseHelp_JOINid > div > ul,
.uoft-dark-mode body > div > div > div.col-md-5 > div.login-box > p,
.uoft-dark-mode #idpSelectIdPEntryTile > form > label > div,
.uoft-dark-mode #idpSelectIdPListTile > form > label > div {
  color: #e3e3e3;
}

.uoft-dark-mode #doc-protect > ul > li {
  color: #e3e3e3;
  background: url(https://cayendo-org.github.io/uoft-dark-mode/check_icon.svg)
    no-repeat;
}

.uoft-dark-mode #username:-webkit-autofill,
.uoft-dark-mode #username:-webkit-autofill:hover,
.uoft-dark-mode #username:-webkit-autofill:focus,
.uoft-dark-mode #password:-webkit-autofill,
.uoft-dark-mode #password:-webkit-autofill:hover,
.uoft-dark-mode #password:-webkit-autofill:focus,
.uoft-dark-mode textarea:-webkit-autofill,
.uoft-dark-mode textarea:-webkit-autofill:hover,
.uoft-dark-mode textarea:-webkit-autofill:focus,
.uoft-dark-mode select:-webkit-autofill,
.uoft-dark-mode select:-webkit-autofill:hover,
.uoft-dark-mode select:-webkit-autofill:focus {
  -webkit-text-fill-color: #e3e3e3;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 1000px #414141 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.uoft-dark-mode #username,
.uoft-dark-mode #password {
  box-sizing: border-box;
  caret-color: #e3e3e3;
  background: rgba(0, 0, 0, 0.05);
  border: solid 1px #414141;
  border-radius: 4px;
  color: #e3e3e3;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 20px;
  max-width: 100%;
  height: 40px;
  transition: border 0.2s, box-shadow 0.2s;
}

.uoft-dark-mode #username:hover,
.uoft-dark-mode #password:hover {
  border: solid 1px #1a73e8;
}

.uoft-dark-mode #username:focus,
.uoft-dark-mode #username:focus-visible,
.uoft-dark-mode #password:focus,
.uoft-dark-mode #password:focus-visible {
  outline: none;
  border: solid 1px #1a73e8;
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
}

.uoft-dark-mode #username:invalid,
.uoft-dark-mode #password:invalid {
  border: solid 1px rgb(232, 26, 26);
}

.uoft-dark-mode #username:invalid:focus,
.uoft-dark-mode #password:invalid:focus {
  box-shadow: 0 0 0 2px rgba(232, 39, 39, 0.3);
}

.uoft-dark-mode body > div > div > div.col-md-4 > div.login-box > form > button,
.uoft-dark-mode #doc-login-problems > a,
.uoft-dark-mode #collapse_PwReq_LoginProblems > div > p:nth-child(2) > a,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(5),
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(6),
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(7),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(5),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(6),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(7) {
  font-size: 16px;
  color: #fff;
  background-color: rgb(13, 115, 236, 0.8);
  padding: 10px 20px;
  border-radius: 4px;
  border: solid 1px transparent;
  transition: background-color 0.3s, box-shadow 0.2s;
  margin-bottom: 10px;
}

.uoft-dark-mode #doc-login-problems > a,
.uoft-dark-mode #collapse_PwReq_LoginProblems > div > p:nth-child(2) > a,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(5),
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(6),
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(7),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(5),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(6),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(7) {
  padding: 5px 10px;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > button:hover,
.uoft-dark-mode #doc-login-problems > a:hover,
.uoft-dark-mode #collapse_PwReq_LoginProblems > div > p:nth-child(2) > a:hover,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(5):hover,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(6):hover,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(7):hover,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(5):hover,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(6):hover,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(7):hover {
  cursor: pointer;
  background-color: rgb(13, 115, 236, 1);
}

.uoft-dark-mode #doc-login-problems > a,
.uoft-dark-mode #collapse_PwReq_LoginProblems > div > p:nth-child(2) > a,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(5),
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(6),
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(7),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(5),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(6),
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(7) {
  text-transform: capitalize;
  font-size: 13px;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > button:focus,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > button:focus-visible,
.uoft-dark-mode #doc-login-problems > a:focus,
.uoft-dark-mode #doc-login-problems > a:focus-visible,
.uoft-dark-mode #collapse_PwReq_LoginProblems > div > p:nth-child(2) > a:focus,
.uoft-dark-mode
  #collapse_PwReq_LoginProblems
  > div
  > p:nth-child(2)
  > a:focus-visible,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(5):focus,
.uoft-dark-mode
  #collapse_UTORidLoginProblems
  > div
  > a:nth-child(5):focus-visible,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(6):focus,
.uoft-dark-mode
  #collapse_UTORidLoginProblems
  > div
  > a:nth-child(6):focus-visible,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(7):focus,
.uoft-dark-mode
  #collapse_UTORidLoginProblems
  > div
  > a:nth-child(7):focus-visible,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(5):focus,
.uoft-dark-mode
  #collapse_UTORidForgottenPW
  > div
  > a:nth-child(5):focus-visible,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(6):focus,
.uoft-dark-mode
  #collapse_UTORidForgottenPW
  > div
  > a:nth-child(6):focus-visible,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(7):focus,
.uoft-dark-mode
  #collapse_UTORidForgottenPW
  > div
  > a:nth-child(7):focus-visible {
  border: solid 1px #1a73e8;
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
  background-color: rgb(13, 115, 236, 1);
  outline: none;
}

.uoft-dark-mode #collapse_PwReq_LoginProblems > div > p:nth-child(2) > a {
  margin-bottom: 0 !important;
}

.uoft-dark-mode #login-with-partner > button {
  font-size: 16px;
  color: #e3e3e3;
  background-color: rgba(227, 227, 227, 0.05);
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  border: solid 1px #414141;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-8
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li
  > a,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-8
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li.active
  > a,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-7
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li.active
  > a,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-7
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li
  > a {
  font-size: 13px;
  color: #e3e3e3;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  border: solid 1px transparent;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.uoft-dark-mode #login-with-partner > button:hover,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-8
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li.active
  > a:hover,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-8
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li
  > a:hover,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-7
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li.active
  > a:hover,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-7
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li
  > a:hover {
  cursor: pointer;
  background-color: rgba(227, 227, 227, 0.15);
}

.uoft-dark-mode #login-with-partner > button:focus,
.uoft-dark-mode #login-with-partner > button:focus-visible,
.uoft-dark-mode :focus,
.uoft-dark-mode :focus-visible,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-8
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li
  > a:focus,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-8
  > div
  > div.col-md-3.col-sm-12.col-xs-12.weblogin-info-sidenav
  > ul
  > li
  > a:focus-visible {
  border: solid 1px #1a73e8;
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
  outline: none !important;
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > button:disabled,
.uoft-dark-mode #login-with-partner > button:disabled {
  color: rgb(44, 43, 60, 0.4);
  background-color: rgb(44, 43, 60, 0.03);
}

.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > form
  > button:disabled:hover,
.uoft-dark-mode #login-with-partner > button:disabled:hover {
  cursor: not-allowed;
  background-color: rgb(44, 43, 60, 0.03);
}

.uoft-dark-mode body > div > div > div.col-md-4 > div.alert.alert-warning {
  color: #ffe2b7;
  background-color: #191207;
  border-color: #e89823;
  border-radius: 6px;
}

.uoft-dark-mode body > div > div > div.col-md-4 > div.alert.alert-danger {
  color: #f4c7c7;
  background-color: #160b0b;
  border-color: #dd3d32;
  border-radius: 6px;
}

.uoft-dark-mode body > footer > div > div {
  border-top: 1px solid #414141;
}

.uoft-dark-mode body > footer > div > div > div > ul > li:nth-child(1),
.uoft-dark-mode body > footer > div > div > div > ul > li:nth-child(4),
.uoft-dark-mode body > footer > div > div > div > ul > li:nth-child(3) {
  color: #898989;
}

.uoft-dark-mode body > footer > div > div > div > ul > li:nth-child(2) > a,
.uoft-dark-mode body > footer > div > div > div > ul > li:nth-child(3) > a,
.uoft-dark-mode
  body
  > div
  > div
  > div.col-md-4
  > div.login-box
  > section:nth-child(2)
  > p
  > a:nth-child(1),
.uoft-dark-mode #pwreq-link,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > p > a,
.uoft-dark-mode #collapse_UTORidLoginProblems > div > a:nth-child(9),
.uoft-dark-mode #collapse_JOINid_LoginProblems > div > p > a,
.uoft-dark-mode body > footer > div > div > div > ul > li:nth-child(1) > a,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > p > a,
.uoft-dark-mode #collapse_UTORidForgottenPW > div > a:nth-child(9),
.uoft-dark-mode #collapse_JOINidForgottenPW > div > p > a,
.uoft-dark-mode #collapseHelp_UTORid > div > p > a,
.uoft-dark-mode #collapseHelp3 > div > p > a,
.uoft-dark-mode #collapseHelp3 > div > p > i:nth-child(8) > a,
.uoft-dark-mode #collapseHelp_uSOURCE > div > p > a:nth-child(1),
.uoft-dark-mode #collapseHelp_uSOURCE > div > p > a:nth-child(3),
.uoft-dark-mode #collapseHelp_ess > div > p > a:nth-child(6),
.uoft-dark-mode #collapseHelp_ess > div > p > a:nth-child(8),
.uoft-dark-mode #collapseHelp_ess > div > p > a:nth-child(10),
.uoft-dark-mode #collapseHelp_erdd > div > p > a,
.uoft-dark-mode #collapseHelp_IC > div > p > a,
.uoft-dark-mode #collapseHelp_JOINid > div > ul > li > a,
.uoft-dark-mode #collapseHelp_JOINid > div > p:nth-child(3) > a,
.uoft-dark-mode #doc-protect > ul > li:nth-child(1) > a,
.uoft-dark-mode #idpSelectIdPEntryTile > a,
.uoft-dark-mode #idpSelectIdPListTile > a {
  color: #69a9f5;
}

.uoft-dark-mode div.panel-heading {
  background-color: #181818 !important;
  border: 1px solid #181818 !important;
  border-radius: 4px !important;
  outline: none !important;
}

.uoft-dark-mode #accordionLoginProblems > div,
.uoft-dark-mode #accordionForgottenPW > div,
.uoft-dark-mode #collapse_UTORidForgottenPW > div::before,
.uoft-dark-mode #accordionHelp > div {
  border: none !important;
  border-radius: 4px;
  background-color: #121212;
}

.uoft-dark-mode #collapse_PwReq_LoginProblems > div,
.uoft-dark-mode #collapse_UTORidLoginProblems > div,
.uoft-dark-mode #collapse_JOINid_LoginProblems > div,
.uoft-dark-mode #collapse_JOINidForgottenPW > div,
.uoft-dark-mode #collapse_UTORidForgottenPW > div,
.uoft-dark-mode #collapseHelp_UTORid > div,
.uoft-dark-mode #collapseHelp3 > div,
.uoft-dark-mode #collapseHelp_uSOURCE > div,
.uoft-dark-mode #collapseHelp_ess > div,
.uoft-dark-mode #collapseHelp_erdd > div,
.uoft-dark-mode #collapseHelp_IC > div,
.uoft-dark-mode #collapseHelp_JOINid > div {
  border-top: 1px solid #282828;
}

.uoft-dark-mode #accordionLoginProblems > div > div.panel-heading > h4 > a,
.uoft-dark-mode #accordionForgottenPW > div > div.panel-heading > h4 > a,
.uoft-dark-mode #accordionHelp > div > div.panel-heading > h4 > a {
  color: #fff;
  border: 1px solid transparent;
}

.uoft-dark-mode
  #accordionLoginProblems
  > div
  > div.panel-heading
  > h4
  > a::before,
.uoft-dark-mode
  #accordionForgottenPW
  > div
  > div.panel-heading
  > h4
  > a::before,
.uoft-dark-mode #accordionHelp > div > div.panel-heading > h4 > a::before {
  color: #fff !important;
}

.uoft-dark-mode #idpSelectIdPSelector {
  background: transparent !important;
  border: transparent !important;
  padding: 0 !important;
  color: #fff !important;
  width: 100% !important;
}
