@use "../../src/common.scss";

* {
  font-family: "Syne", sans-serif;
}

:root {
  color-scheme: dark;

  --white: #fafafa;
  --grey: #b0b0b0;
  --dark-grey: #232526;
  --black: #141414;
  --blue: #276df1;
  --dark-blue: #276ef1d7;

  --border-radius: 4px;
  --spacing: 8px;
  --hue-primary: 200;
  --hue-paper: 200;
  --paper-strength: 0;
  --primary-strength: 1;
  transition: background-color 0.2s;
}

::selection {
  background: common.color(focus, 0, dark);
  color: common.textColor(focus, 0, dark);
}

body {
  margin: 0;
  background: linear-gradient(to left top, var(--black), var(--dark-grey)) fixed;
  overflow-y: scroll;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}

.nav-blur {
  background-color: #23252698;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.048);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: var(--white);
  font-size: 60px;
  font-weight: 700;
  margin: 30px 0;
}

h2 {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
}

h3 {
  color: var(--white);
  font-size: 28px;
  margin: 15px 0;
}

h4 {
  color: #b0b0b0;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 20px;
}

p {
  font-size: 16px;
  margin: 0;
}

p.about {
  color: #B0B0B0;
  line-height: 20px;
  margin-bottom: 50px;
}

p.toronto {
  font-size: 20px;
  margin-bottom: 200px;
}

.blue-word {
  color: #3399FF;
}

.grey {
  color: var(--grey);
}

.scroll-anim {
  --amount: 0px;
  --progress: 0;
}

.scroll-anim-y {
  position: relative;
  top: calc((1 - var(--progress)) * var(--amount));
  transition: top 0.2s;
}

.scroll-anim-size {
  transform: scale(calc( (1 - var(--progress) * 0.3) ));
  transition: transform 0.2s;
}

.scroll-anim-border {
  border-radius: calc(min((var(--progress) * 10), 1) * 40px);
  transition: border-radius 0.2s;
}

.scroll-anim-nav {
  opacity: var(--progress);
  transition: opacity 0.2s;
}

#primary, #disabled {
  width: 100%;
}

#primary:focus-visible, #test-input:focus-visible {
  @include common.override(dark) {
    border: 1px solid common.color(focus, 0, dark);
    box-shadow: 0 0 0 4px common.color(focus, 0, light, 0.3);
  }

  @include common.override(light) {
    outline: 1px solid common.color(focus, 0, light);
    box-shadow: 0 0 0 4px common.color(focus, 0, light, 0.3);
  }
}

#darkMode {
  border: solid 1px transparent;
  border-radius: 4px;
  background-color: #4D4D4D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.2s;

  svg {
      fill: var(--white);
      height: 24px;
      width: 24px;
  }
  svg:not(.on) {
    transform: rotateZ(180deg);
  }
  &:not(.on) > .on {
    display: none;
  }
  &.on > :not(.on) {
    display: none;
  }
}

#darkMode p {
  color: var(--white);
}

#darkMode:focus-visible {
  @include common.override(dark) {
    border: 1px solid common.color(focus, 0, dark);
    box-shadow: 0 0 0 4px common.color(focus, 0, light, 0.3);
  }

  @include common.override(light) {
    outline: 1px solid common.color(focus, 0, light);
    box-shadow: 0 0 0 4px common.color(focus, 0, light, 0.3);
  }
  outline: none;
}

#darkMode:hover {
  background-color: #595959;
}

#weblogin, #acorn, #quercus {
  padding: 80px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: border 0.2s;
}

#weblogin:hover, #acorn:hover, #quercus:hover {
  border-radius: 6px;
  border: 1px solid var(--grey);
  outline: none;
}

#weblogin h2, #acorn h2, #quercus h2 {
  font-size: 32px;
  margin: 0;
}

#weblogin svg, #acorn svg, #quercus svg {
  fill: var(--grey);
}

.slider-title, .toronto {
  color: var(--white);
}

.cards a:focus-visible {
  border-radius: 6px;
  border: solid 1px var(--blue);
  box-shadow: 0 0 0 4px rgba(39, 94, 254, 0.3);
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cards a {
  border: 1px solid transparent;
  outline: none;
  text-decoration: none;
  color: var(--grey);
  flex: 1;
}

.top {
  display: flex;
  min-height: calc(100vh - 200px);
  background: linear-gradient(to left top,#32003C, #001E3C) fixed;
}

.hero-img {
  width: 100%;
  flex: 1;
}

.max-width {
  max-width: 537px;
}

.nav-wrapper {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chip {
  @include common.override(light) {
    background: common.color(focus, 1, light);
    color: common.textColor(focus, 0, light);
  }

  @include common.override(dark) {
    background: common.color(focus, 1, dark);
    color: common.textColor(focus, 0, dark);
  }

  @include common.override {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: var(--black);
    border-radius: 50px;
    padding: 4px 10px;
  }
}

.chip p {
  font-size: 14px;
}

.space-bot {
  color: var(--grey);
  margin-bottom: 20px;
  line-height: 20px;
}

.bottom {
  margin-top: 100px;
}

.add:link,
.add:visited,
.add:active {
  outline: none;
  background: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 12px 40px;
  font-size: 16px;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.2s;
}

.add:hover {
  background: var(--dark-blue);
}

.add:focus-visible {
  background: var(--dark-blue);
  border: solid 1px var(--blue);
  box-shadow: 0 0 0 4px rgba(39, 94, 254, 0.3);
}

.github:link,
.github:visited,
.github:active {
  font-size: 16px;
  cursor: pointer;
  color: var(--white);
  text-decoration: underline;
}

.github:hover, .github:focus {
  outline: none;
  text-decoration-color: #3399FF;
}

.github:focus-visible {
  outline: 2px solid var(--blue);
}

.github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo, .github {
  padding: 20px 0;
}

.icon-github,
.logo {
  fill: var(--white);
}

.intro {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin:auto;
  padding: 20px;
  text-align: left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customize-wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
}

.example-container,
.customize {
  display: flex;
  flex-direction: row;
}

.example-container {
  @include common.override {
    gap: 10px;
  }
}

.notification {
  @include common.override(light) {
    background: common.color(focus, 1, light);
    color: common.textColor(focus, 0, light);
  }

  @include common.override(dark) {
    background: common.color(focus, 1, dark);
    color: common.textColor(focus, 0, dark);
  }

  @include common.override {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    display: flex;
    gap: 12px;
    flex-direction: row;
  }
}

.control-panel {
    max-width: 400px;
    border-radius: 6px 0 0 6px;
    background: #333333;
    padding: 10px 15px;
}

.content {
  @include common.paper();
  padding: 10px 15px;
  border-radius: 0 6px 6px 0 !important;
}

.link {
  @include common.link;
}

.example-card {
  @include common.paper(2);

  @include common.override {
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-height: 300px;
  }
}

.example-card p {
  margin-bottom: 20px;
}

.example-card h2 {
  @include common.override(light) {
    color: common.textColor(paper, 0, light);
  }
  @include common.override(dark) {
    color: common.textColor(paper, 0, dark);
  }
}

.content input {
  @include common.input;
  @include common.typography;

  padding: common.spacing(1.25) common.spacing(1.75);
  min-width: 220px;
}

.content button {
  @include common.button;
  @include common.override {
    padding: common.spacing(1.25) common.spacing(1.75);
  }
}

.disabled-input {
  cursor: not-allowed;
  border: 1px solid transparent !important;
}

.inputs {
  display: flex; 
  flex-direction: column;
  gap: 15px;
}

// RANGE INPUTS

[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  margin: 12px 0;
  width: 100%;
}

[type="range"]:focus {
  outline: 0;
}

[type="range"]:focus-visible::range-thumb{
  @include common.override(dark) {
    outline: 3px solid common.color(focus, 0, dark);
  }

  @include common.override(light) {
    outline: 3px solid common.color(focus, 0, light);
  }
}

#primary-strength::range-track,
#paper-strength::range-track {
  background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 100%, 100%));
}

#paper-strength {
  margin-bottom: 30px;
}

#primary-strength::range-thumb {
  @include common.override(dark) {
    background: hsla(0, 0%, calc(var(--primary-strength) * 100%), 1);
  }

  @include common.override(light) {
    background: hsla(0, 0%, calc(var(--primary-strength) * 100%), 1);
  }
}

#paper-strength::range-thumb {
  @include common.override(dark) {
    background: hsla(0, 0%, calc(var(--paper-strength) * 100%), 1);
  }

  @include common.override(light) {
    background: hsla(0, 0%, calc(var(--paper-strength) * 100%), 1);
  }
}

#primary-hue::range-track,
#paper-hue::range-track {
  @include common.override {
    background: linear-gradient(
      to right,
      #ff8c8c,
      #ffff8c,
      #8cff8c,
      #8ce5e5,
      #a4a4d2,
      #bf9ebf,
      #ff8c8c
    );
  }
}

#primary-hue::range-thumb {
  @include common.override(dark) {
    background: hsla(var(--hue-primary), 100%, 77.5%, 1);
  }

  @include common.override(light) {
    background: hsla(var(--hue-primary), 100%, 77.5%, 1);
  }
}

#paper-hue::range-thumb {
  @include common.override(dark) {
    background: hsla(var(--hue-paper), 100%, 77.5%, 1);
  }

  @include common.override(light) {
    background: hsla(var(--hue-paper), 100%, 77.5%, 1);
  }
}

[type="range"]::range-track {
  @include common.override(dark) {
    border: 1px solid common.color(paper, 0, dark);
  }

  @include common.override(light) {
    border: 1px solid common.textColor(paper, 0, light);
  }

  @include common.override {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    border-radius: common.borderRadius(1.5);
  }
}

[type="range"]::range-track:focus,
[type="range"]::range-track:hover {
  @include common.override(dark) {
    border: 1px solid #000;
  }

  @include common.override(light) {
    border: 1px solid #000;
  }
}

[type="range"]::range-thumb {
  @include common.override {
    border-radius: common.borderRadius(3);
    box-sizing: border-box;
    cursor: default;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    margin-top: -8px;
    cursor: pointer;
    border: 1px solid common.color(paper, 2, dark);
  }
}

[type="range"]::range-thumb:focus,
[type="range"]::range-thumb:hover {
  @include common.override {
    border: 1px solid common.color(paper, 5, dark);
  }
}

[type="range"]:disabled::range-thumb,
[type="range"]:disabled::range-track {
  cursor: not-allowed;
  opacity: 0.5;
}

[type="range"]:disabled::range-thumb {
  display: none;
}

@media only screen and (max-width: 1240px) {
  .logo, .github {
    padding: 20px;
  }

  h1 {
    font-size: 40px;
  }

  .intro {
    flex-direction: column;
  }

  .hero-img {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .intro {
    padding-top: 90px;
  }

  div.control-panel {
    border-radius: 6px 6px 0 0;
    max-width: unset;
  }

  .customize {
    @include common.override {
      flex-direction: column;
    }

    .example-container {
      flex-direction: column;
    }
  }

  #test-input, #disabled-input {
    min-width: unset;
  }

  .content {
    border-radius: 0 0 6px 6px !important;
    padding-bottom: 20px;
  }

  .cards {
    flex-direction: column;
  }
}