html.uoft-dark-mode,
html.uoft-dark-mode body {
  background-color: #181818;
  color: #ffffff;
}

.uoft-dark-mode div.ic-Dashboard-header__layout,
.uoft-dark-mode header.ic-app-header,
.uoft-dark-mode div.ic-app-header__logomark-container,
.uoft-dark-mode div.ic-app-nav-toggle-and-crumbs,
.uoft-dark-mode nav#breadcrumbs,
.uoft-dark-mode div.conversations .panel {
  background-color: #212121;
}

.uoft-dark-mode div.ic-Dashboard-header__layout,
.uoft-dark-mode div.ic-app-nav-toggle-and-crumbs,
.uoft-dark-mode div.item-group-condensed .ig-header,
.uoft-dark-mode li.item-group-condensed .ig-header,
.uoft-dark-mode div.item-group-condensed .ig-row,
.uoft-dark-mode div.header-bar,
.uoft-dark-mode div.ic-app-nav-toggle-and-crumbs .Button,
.uoft-dark-mode ul.ig-list .ig-row,
.uoft-dark-mode ul.ig-list .ig-row.ig-row-empty,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav,
.uoft-dark-mode article.discussion_entry > .discussion-entry-reply-area,
.uoft-dark-mode div.conversations .panel,
.uoft-dark-mode div#calendar-app .fc-agendaWeek-view .fc-day-grid .fc-row,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-agendaWeek-view
  .fc-day-grid
  .fc-row,
.uoft-dark-mode div.ofhgV_eLeB[aria-selected] {
  border: none;
}

.uoft-dark-mode a.btn,
.uoft-dark-mode button.btn,
.uoft-dark-mode button.Button,
.uoft-dark-mode a.Button,
.uoft-dark-mode button.ui-button.ui-state-disabled,
.uoft-dark-mode button.ui-button.ui-state-focus,
.uoft-dark-mode button.ui-button.ui-state-hover,
.uoft-dark-mode button.ui-button,
.uoft-dark-mode div select,
.uoft-dark-mode span.qBMHb_cSXm,
.uoft-dark-mode ul.pill,
.uoft-dark-mode div select.ic-Input,
.uoft-dark-mode div textarea.ic-Input,
.uoft-dark-mode div input[type="text"].ic-Input,
.uoft-dark-mode div input[type="password"].ic-Input,
.uoft-dark-mode div input[type="datetime"].ic-Input,
.uoft-dark-mode div input[type="datetime-local"].ic-Input,
.uoft-dark-mode div input[type="date"].ic-Input,
.uoft-dark-mode div input[type="month"].ic-Input,
.uoft-dark-mode div input[type="time"].ic-Input,
.uoft-dark-mode div input[type="week"].ic-Input,
.uoft-dark-mode div input[type="number"].ic-Input,
.uoft-dark-mode div input[type="email"].ic-Input,
.uoft-dark-mode div input[type="url"].ic-Input,
.uoft-dark-mode div input[type="search"].ic-Input,
.uoft-dark-mode div input[type="tel"].ic-Input,
.uoft-dark-mode div input[type="color"].ic-Input,
.uoft-dark-mode div .uneditable-input.ic-Input,
.uoft-dark-mode div textarea,
.uoft-dark-mode div input[type="text"],
.uoft-dark-mode div input[type="password"],
.uoft-dark-mode div input[type="datetime"],
.uoft-dark-mode div input[type="datetime-local"],
.uoft-dark-mode div input[type="date"],
.uoft-dark-mode div input[type="month"],
.uoft-dark-mode div input[type="time"],
.uoft-dark-mode div input[type="week"],
.uoft-dark-mode div input[type="number"],
.uoft-dark-mode div input[type="email"],
.uoft-dark-mode div input[type="url"],
.uoft-dark-mode div input[type="search"],
.uoft-dark-mode div input[type="tel"],
.uoft-dark-mode div input[type="color"],
.uoft-dark-mode div .uneditable-input,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-state-hover,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li:hover,
.uoft-dark-mode div.pinned-discussions-v2__wrapper,
.uoft-dark-mode div.unpinned-discussions-v2__wrapper,
.uoft-dark-mode div.closed-for-comments-discussions-v2__wrapper,
.uoft-dark-mode span.fdyuz_bGBk,
.uoft-dark-mode span.fQfxa_caGd,
.uoft-dark-mode span.fQfxa_dqAF.fQfxa_buuG,
.uoft-dark-mode div .eHiXd_bXiG,
.uoft-dark-mode div a.eHiXd_bXiG,
.uoft-dark-mode div button.eHiXd_bXiG,
.uoft-dark-mode div button.eHiXd_bXiG[type="button"],
.uoft-dark-mode div button.eHiXd_bXiG[type="reset"],
.uoft-dark-mode div button.eHiXd_bXiG[type="submit"],
.uoft-dark-mode div.toolbarView .headerBar,
.uoft-dark-mode article.topic .entry-content,
.uoft-dark-mode article.discussion_entry,
.uoft-dark-mode ul.discussion-entries .entry,
.uoft-dark-mode div.ac-input-box,
.uoft-dark-mode div.ac-result-container,
.uoft-dark-mode div.fc th,
.uoft-dark-mode div.fc td,
.uoft-dark-mode div#calendar-app .fc-agendaWeek-view .fc-day-grid .fc-today,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-agendaWeek-view
  .fc-day-grid
  .fc-today,
.uoft-dark-mode div#minical,
.uoft-dark-mode div#minical .fc-widget-content,
.uoft-dark-mode span.cAqHo_eAjd {
  border: 1px solid #4c4c4c;
  color: #ffffff;
}

.uoft-dark-mode div.calendar .fc-row .fc-content-skeleton td,
.uoft-dark-mode div.calendar .fc-row .fc-helper-skeleton td,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-row
  .fc-content-skeleton
  td,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-row
  .fc-helper-skeleton
  td
  div#calendar-app
  .fc-month-view
  .fc-widget-header,
.uoft-dark-mode div.fc-unthemed th,
.uoft-dark-mode div.fc-unthemed td,
.uoft-dark-mode div.fc-unthemed thead,
.uoft-dark-mode div.fc-unthemed tbody,
.uoft-dark-mode div.fc-unthemed .fc-divider,
.uoft-dark-mode div.fc-unthemed .fc-row,
.uoft-dark-mode div.fc-unthemed .fc-popover,
.uoft-dark-mode span.fOyUs_dsNY,
.uoft-dark-mode span.fOyUs_tIxX,
.uoft-dark-mode div.ofhgV_eLeB:not([aria-selected]):not([aria-disabled]):hover,
.uoft-dark-mode div.ofhgV_eLeB[aria-selected],
.uoft-dark-mode div.dpCPB_caGd {
  border-color: #4c4c4c;
}

.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-month-view
  .fc-widget-header {
  border-left: 1px solid #4c4c4c;
  border-right: 1px solid #4c4c4c;
}

.uoft-dark-mode ul.pill {
  box-shadow: none;
  border-radius: 4px;
}

.uoft-dark-mode div.ic-app-nav-toggle-and-crumbs .Button,
.uoft-dark-mode div.header-bar,
.uoft-dark-mode span.fvvQs_bGBk,
.uoft-dark-mode span.eHiXd_caGd,
.uoft-dark-mode button.fQfxa_bGBk:hover .fQfxa_dqAF.fQfxa_buuG,
.uoft-dark-mode span.fQfxa_dqAF.fQfxa_buuG,
.uoft-dark-mode span.fQfxa_fKcQ .fQfxa_biBD,
.uoft-dark-mode .sJGfW_bGBk .sJGfW_dnnz,
.uoft-dark-mode span.DashboardCardMenu__MovementItem,
.uoft-dark-mode span.enRcg_bGBk.enRcg_doqw {
  background-color: transparent;
}

.uoft-dark-mode span.fvvQs_bGBk {
  backdrop-filter: blur(4px);
}

.uoft-dark-mode div.item-group-condensed .ig-header,
.uoft-dark-mode li.item-group-condensed .ig-header,
.uoft-dark-mode div.item-group-condensed .ig-row,
.uoft-dark-mode ul.ig-list .ig-row,
.uoft-dark-mode table.ic-Table th,
.uoft-dark-mode table.ic-Table td,
.uoft-dark-mode div.cDMBL_bGBk,
.uoft-dark-mode div.message-list .messages > li,
.uoft-dark-mode div.agenda-day,
.uoft-dark-mode div#minical .fc-toolbar,
.uoft-dark-mode aside#right-side h2,
.uoft-dark-mode aside#right-side .h2,
.uoft-dark-mode div.ofhgV_eLeB[aria-selected] {
  border-bottom: 1px solid #4c4c4c;
}

.uoft-dark-mode div.ic-item-row,
.uoft-dark-mode div.dNoYT_bGBk,
.uoft-dark-mode ul.discussion-entries .entry .entry,
.uoft-dark-mode div hr {
  border-top: 1px solid #4c4c4c;
  box-shadow: none;
}

.uoft-dark-mode div.list-view a.active {
  color: var(--ic-link-color-darkened-10);
  border-left: 1px solid var(--ic-link-color-darkened-10);
}

.uoft-dark-mode div.item-group-condensed .ig-header:hover,
.uoft-dark-mode li.item-group-condensed .ig-header:hover,
.uoft-dark-mode div.item-group-condensed .ig-row:hover,
.uoft-dark-mode a.btn:hover,
.uoft-dark-mode button.btn:hover,
.uoft-dark-mode button.Button:hover,
.uoft-dark-mode button.ui-button.ui-state-disabled:hover,
.uoft-dark-mode button.ui-button.ui-state-focus:hover,
.uoft-dark-mode button.ui-button.ui-state-hover:hover,
.uoft-dark-mode button.ui-button:hover,
.uoft-dark-mode table.ic-Table.ic-Table--hover-row tbody tr:hover,
.uoft-dark-mode
  table.ic-Table.ic-Table--hover-row
  tbody
  tr.ic-Table__row--bg-neutral:hover,
.uoft-dark-mode
  table.ic-Table.ic-Table--hover-row
  tbody
  tr.ic-Table__row--bg-success:hover,
.uoft-dark-mode
  table.ic-Table.ic-Table--hover-row
  tbody
  tr.ic-Table__row--bg-alert:hover,
.uoft-dark-mode
  table.ic-Table.ic-Table--hover-row
  tbody
  tr.ic-Table__row--bg-danger:hover,
.uoft-dark-mode ul.ig-list .ig-row:hover,
.uoft-dark-mode div.fNHEA_cjSw.fNHEA_ksNK .fNHEA_cSXm:hover,
.uoft-dark-mode div select.ic-Input:hover,
.uoft-dark-mode div textarea.ic-Input:hover,
.uoft-dark-mode div input[type="text"].ic-Input:hover,
.uoft-dark-mode div input[type="password"].ic-Input:hover,
.uoft-dark-mode div input[type="datetime"].ic-Input:hover,
.uoft-dark-mode div input[type="datetime-local"].ic-Input:hover,
.uoft-dark-mode div input[type="date"].ic-Input:hover,
.uoft-dark-mode div input[type="month"].ic-Input:hover,
.uoft-dark-mode div input[type="time"].ic-Input:hover,
.uoft-dark-mode div input[type="week"].ic-Input:hover,
.uoft-dark-mode div input[type="number"].ic-Input:hover,
.uoft-dark-mode div input[type="email"].ic-Input:hover,
.uoft-dark-mode div input[type="url"].ic-Input:hover,
.uoft-dark-mode div input[type="search"].ic-Input:hover,
.uoft-dark-mode div input[type="tel"].ic-Input:hover,
.uoft-dark-mode div input[type="color"].ic-Input:hover,
.uoft-dark-mode div .uneditable-input.ic-Input:hover,
.uoft-dark-mode div textarea:hover,
.uoft-dark-mode div input[type="text"]:hover,
.uoft-dark-mode div input[type="password"]:hover,
.uoft-dark-mode div input[type="datetime"]:hover,
.uoft-dark-mode div input[type="datetime-local"]:hover,
.uoft-dark-mode div input[type="date"]:hover,
.uoft-dark-mode div input[type="month"]:hover,
.uoft-dark-mode div input[type="time"]:hover,
.uoft-dark-mode div input[type="week"]:hover,
.uoft-dark-mode div input[type="number"]:hover,
.uoft-dark-mode div input[type="email"]:hover,
.uoft-dark-mode div input[type="url"]:hover,
.uoft-dark-mode div input[type="search"]:hover,
.uoft-dark-mode div input[type="tel"]:hover,
.uoft-dark-mode div input[type="color"]:hover,
.uoft-dark-mode div .uneditable-input:hover,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-state-hover,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li:hover,
.uoft-dark-mode span.ic-unread-badge__total-count,
.uoft-dark-mode div .eHiXd_bXiG:hover,
.uoft-dark-mode div a.eHiXd_bXiG:hover,
.uoft-dark-mode div button.eHiXd_bXiG:hover,
.uoft-dark-mode div button.eHiXd_bXiG[type="button"]:hover,
.uoft-dark-mode div button.eHiXd_bXiG[type="reset"]:hover,
.uoft-dark-mode div button.eHiXd_bXiG[type="submit"]:hover,
.uoft-dark-mode button.fOyUs_fKyb:hover,
.uoft-dark-mode button.ic-app-header__menu-list-link:hover,
.uoft-dark-mode button.ic-app-header__menu-list-link:focus,
.uoft-dark-mode div.message-list .messages > li.active,
.uoft-dark-mode div.ac-input-box:hover,
.uoft-dark-mode div#calendar-app .fc-agendaWeek-view .fc-event,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-agendaWeek-view
  .fc-event,
.uoft-dark-mode ul#context-list .context_list_context:hover,
.uoft-dark-mode a.Button:hover,
.uoft-dark-mode button.Button:hover,
.uoft-dark-mode span.sJGfW_bGBk.sJGfW_cSen,
.uoft-dark-mode span.sJGfW_bGBk:active,
.uoft-dark-mode span.sJGfW_bGBk:focus,
.uoft-dark-mode span.sJGfW_bGBk:hover,
.uoft-dark-mode span.sJGfW_bGBk[aria-expanded="true"],
.uoft-dark-mode div.ofhgV_eLeB:not([aria-selected]):not([aria-disabled]):hover,
.uoft-dark-mode div.ofhgV_eLeB[aria-selected],
.uoft-dark-mode div.ofhgV_eLeB:hover,
.uoft-dark-mode button.sJGfW_bGBk:hover:hover {
  background-color: #4d4d4d;
  color: #ffffff;
}

.uoft-dark-mode div.message-list .messages > li:hover {
  box-shadow: inset -4px 0px 0px #4d4d4d;
}

.uoft-dark-mode aside#right-side .todo-list-header,
.uoft-dark-mode div.item-group-condensed .ig-header,
.uoft-dark-mode li.item-group-condensed .ig-header {
  margin: 0;
}

.uoft-dark-mode div.ic-DashboardCard,
.uoft-dark-mode div.ic-DashboardCard__header_content,
.uoft-dark-mode #nav-tray-portal span,
.uoft-dark-mode body > span span,
.uoft-dark-mode #breadcrumbs,
.uoft-dark-mode
  li.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
  .ic-app-header__menu-list-link,
.uoft-dark-mode div[role="dialog"],
.uoft-dark-mode nav#mobileContextNavContainer,
.uoft-dark-mode header#mobile-header,
.uoft-dark-mode div.item-group-container,
.uoft-dark-mode div.item-group-condensed .ig-header,
.uoft-dark-mode li.item-group-condensed .ig-header,
.uoft-dark-mode div.item-group-condensed .ig-row,
.uoft-dark-mode a.btn,
.uoft-dark-mode button.btn,
.uoft-dark-mode button.Button,
.uoft-dark-mode a.Button,
.uoft-dark-mode button.ui-button.ui-state-disabled,
.uoft-dark-mode button.ui-button.ui-state-focus,
.uoft-dark-mode button.ui-button.ui-state-hover,
.uoft-dark-mode button.ui-button,
.uoft-dark-mode div.fNHEA_cjSw.fNHEA_ksNK .fNHEA_cSXm,
.uoft-dark-mode div select,
.uoft-dark-mode span.qBMHb_cSXm,
.uoft-dark-mode ul.ig-list .ig-row,
.uoft-dark-mode ul.ig-list .ig-row .ig-empty-msg,
.uoft-dark-mode div.ui-tabs .ui-tabs-panel,
.uoft-dark-mode table.ic-Table.ic-Table--striped tbody tr:nth-child(odd),
.uoft-dark-mode div select.ic-Input,
.uoft-dark-mode div textarea.ic-Input,
.uoft-dark-mode div input[type="text"].ic-Input,
.uoft-dark-mode div.toolbarView .headerBar,
.uoft-dark-mode article.topic .entry-content,
.uoft-dark-mode article.discussion_ent,
.uoft-dark-mode .fOyUs_fZwI,
.uoft-dark-mode .fOyUs_kXoPry,
.uoft-dark-mode div.message-list .messages > li,
.uoft-dark-mode div.message-list .collectionViewItems,
.uoft-dark-mode div.ac-result-container,
.uoft-dark-mode div.fc-unthemed th,
.uoft-dark-mode div.fc-unthemed td,
.uoft-dark-mode div.fc-unthemed thead,
.uoft-dark-mode div.fc-unthemed tbody,
.uoft-dark-mode div.fc-unthemed .fc-divider,
.uoft-dark-mode div.fc-unthemed .fc-row,
.uoft-dark-mode div.fc-unthemed .fc-popover,
.uoft-dark-mode div#calendar-app .fc-month-view .fc-today,
.uoft-dark-mode div#calendar-drag-and-drop-container .fc-month-view .fc-today,
.uoft-dark-mode div#calendar-app .fc-event,
.uoft-dark-mode div#calendar-drag-and-drop-container .fc-event,
.uoft-dark-mode div.agenda-wrapper,
.uoft-dark-mode a.fc-event .fc-bg,
.uoft-dark-mode div#minical,
.uoft-dark-mode div#context-list-holder,
.uoft-dark-mode div#undated-events,
.uoft-dark-mode ul.cAqHo_eAjd,
.uoft-dark-mode span.eoNrR_blJt,
.uoft-dark-mode span.sJGfW_bGBk,
.uoft-dark-mode span.cAqHo_eAjd,
.uoft-dark-mode span.fOyUs_fZwI,
.uoft-dark-mode span.fOyUs_kXoP,
.uoft-dark-mode div.dpCPB_caGd,
.uoft-dark-mode div.ColorPicker__Container,
.uoft-dark-mode button.sJGfW_bGBk {
  background-color: #373737;
  color: #ffffff;
}

.uoft-dark-mode .message-list .collectionViewItems {
  margin-bottom: 0;
}

.uoft-dark-mode div input[type="password"].ic-Input,
.uoft-dark-mode div input[type="datetime"].ic-Input,
.uoft-dark-mode div input[type="datetime-local"].ic-Input,
.uoft-dark-mode div input[type="date"].ic-Input,
.uoft-dark-mode div input[type="month"].ic-Input,
.uoft-dark-mode div input[type="time"].ic-Input,
.uoft-dark-mode div input[type="week"].ic-Input,
.uoft-dark-mode div input[type="number"].ic-Input,
.uoft-dark-mode div input[type="email"].ic-Input,
.uoft-dark-mode div input[type="url"].ic-Input,
.uoft-dark-mode div input[type="search"].ic-Input,
.uoft-dark-mode div input[type="tel"].ic-Input,
.uoft-dark-mode div input[type="color"].ic-Input,
.uoft-dark-mode div .uneditable-input.ic-Input,
.uoft-dark-mode div textarea,
.uoft-dark-mode div input[type="text"],
.uoft-dark-mode div input[type="password"],
.uoft-dark-mode div input[type="datetime"],
.uoft-dark-mode div input[type="datetime-local"],
.uoft-dark-mode div input[type="date"],
.uoft-dark-mode div input[type="month"],
.uoft-dark-mode div input[type="time"],
.uoft-dark-mode div input[type="week"],
.uoft-dark-mode div input[type="number"],
.uoft-dark-mode div input[type="email"],
.uoft-dark-mode div input[type="url"],
.uoft-dark-mode div input[type="search"],
.uoft-dark-mode div input[type="tel"],
.uoft-dark-mode div input[type="color"],
.uoft-dark-mode div .uneditable-input,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover,
.uoft-dark-mode div.pinned-discussions-v2__wrapper,
.uoft-dark-mode div.unpinned-discussions-v2__wrapper,
.uoft-dark-mode span.MlJlv_cjSw,
.uoft-dark-mode div.ic-discussion-row,
.uoft-dark-mode div.closed-for-comments-discussions-v2__wrapper,
.uoft-dark-mode div.discussions-v2__container-image,
.uoft-dark-mode span.fdyuz_bGBk,
.uoft-dark-mode div.cDMBL_bGBk,
.uoft-dark-mode div.dNoYT_bGBk,
.uoft-dark-mode div .eHiXd_bXiG,
.uoft-dark-mode div a.eHiXd_bXiG,
.uoft-dark-mode div button.eHiXd_bXiG,
.uoft-dark-mode div button.eHiXd_bXiG[type="button"],
.uoft-dark-mode div button.eHiXd_bXiG[type="reset"],
.uoft-dark-mode div button.eHiXd_bXiG[type="submit"],
.uoft-dark-mode div.ac-input-box,
.uoft-dark-mode div.calendar .fc-head thead .fc-widget-header,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-head
  thead
  .fc-widget-header,
.uoft-dark-mode div#calendar-app .fc-view-container,
.uoft-dark-mode div#calendar-drag-and-drop-container .fc-view-container,
.uoft-dark-mode div#minical .fc-widget-content {
  background-color: #373737;
  color: #ffffff;
}

.uoft-dark-mode nav.ic-DashboardCard__action-container svg:hover,
.uoft-dark-mode div.ic-DashboardCard__header-subtitle,
.uoft-dark-mode div.ic-DashboardCard__header-term,
.uoft-dark-mode
  li.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
  .menu-item-icon-container,
html.uoft-dark-mode
  body.primary-nav-expanded
  .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
  .menu-item__text,
.uoft-dark-mode div.ig-header .name,
.uoft-dark-mode div.ig-list .ig-row a.ig-title,
.uoft-dark-mode table#grades_summary th.title .context,
.uoft-dark-mode ul.ig-list .ig-row a.ig-title,
.uoft-dark-mode div.qBMHb_cwos,
.uoft-dark-mode div input[type].qBMHb_cwos,
.uoft-dark-mode span.fCrpb_egrg,
.uoft-dark-mode li.ctrLD_bGBk,
.uoft-dark-mode span.fCrpb_egrg.fCrpb_fVUh,
.uoft-dark-mode div.message-list .date,
.uoft-dark-mode div.message-list .author,
.uoft-dark-mode div.message-list .subject,
.uoft-dark-mode div.message-list .summary,
.uoft-dark-mode div.message-list .star-btn,
.uoft-dark-mode a#create_new_event_link,
.uoft-dark-mode
  div.fc-agendaWeek-view
  .fc-event-container
  a[class*="group_"]
  .fc-content
  .fc-time,
.uoft-dark-mode div#calendar-app .fc-agendaWeek-view .fc-widget-header,
.uoft-dark-mode div#calendar-app .fc-agendaWeek-view .fc-axis,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-agendaWeek-view
  .fc-widget-header,
.uoft-dark-mode
  div#calendar-drag-and-drop-container
  .fc-agendaWeek-view
  .fc-axis,
.uoft-dark-mode button.fc-state-default,
.uoft-dark-mode div#minical .fc-toolbar h2,
.uoft-dark-mode div#minical .fc-toolbar .h2,
.uoft-dark-mode nav#breadcrumbs > ul > li + li:last-of-type a,
.uoft-dark-mode span.sJGfW_blJt,
.uoft-dark-mode div.ofhgV_eLeB {
  color: #ffffff;
}

html.uoft-dark-mode
  body.primary-nav-expanded
  .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
  .menu-item__text,
.uoft-dark-mode div.ic-DashboardCard__header-subtitle,
.uoft-dark-mode div.ic-DashboardCard__header-term,
.uoft-dark-mode div label.fCrpb_egrg,
.uoft-dark-mode li.ctrLD_bGBk,
.uoft-dark-mode nav#breadcrumbs > ul > li + li:last-of-type a,
.uoft-dark-mode button.accessible-toggler,
.uoft-dark-mode button.accessible-toggler:hover,
.uoft-dark-mode span.fNHEA_blJt,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li.ui-state-hover a,
.uoft-dark-mode div.ui-tabs .ui-tabs-nav li:hover a,
.uoft-dark-mode button.MlJlv_cjSw,
.uoft-dark-mode button.MlJlv_cjSw:active,
.uoft-dark-mode button.MlJlv_cjSw:focus,
.uoft-dark-mode button.MlJlv_cjSw:hover,
.uoft-dark-mode svg.esvoZ_bGBk:hover,
.uoft-dark-mode
  li.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
  .ic-icon-svg,
.uoft-dark-mode span.yyQPt_cjfS .yyQPt_blJt,
.uoft-dark-mode span.yyQPt_blJt,
.uoft-dark-mode i.standalone-icon:before:hover,
.uoft-dark-mode
  li.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
  .menu-item-icon-container {
  color: #ffffff;
}

.uoft-dark-mode
  li.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
  .ic-icon-svg {
  fill: #ffffff;
}

.uoft-dark-mode div.header-bar {
  padding: 0;
}

.uoft-dark-mode div.ic-DashboardCard {
  box-shadow: none;
}

.uoft-dark-mode div.ig-header .name {
  text-shadow: none;
}

.uoft-dark-mode nav.ic-DashboardCard__action-container svg,
.uoft-dark-mode svg.esvoZ_bGBk,
.uoft-dark-mode i.standalone-icon:before {
  color: #bfbfbf;
}

.uoft-dark-mode a.ic-app-header__logomark {
  filter: grayscale(100%) brightness(0.9);
}

.uoft-dark-mode footer#footer {
  display: none;
}

.uoft-dark-mode div.ic-app-nav-toggle-and-crumbs {
  margin: 0;
}

.uoft-dark-mode div.ic-Dashboard-header,
html.uoft-dark-mode body.dashboard-is-planner .ic-Dashboard-header,
.uoft-dark-mode div.ic-app-nav-toggle-and-crumbs {
  position: fixed;
  right: 0;
  top: 0;
  left: 84px;
  min-height: 4.5rem;
  z-index: 11;
}

.uoft-dark-mode div#content {
  --ic-brand-font-color-dark: #ffffff;
}

.uoft-dark-mode div.ic-Layout-wrapper {
  padding-top: 4.5rem;
}

.uoft-dark-mode .ic-Dashboard-header__title {
  padding-left: 24px;
}

.uoft-dark-mode button#primaryNavToggle {
  display: none;
}

@media only screen and (min-width: 992px) {
  .uoft-dark-mode div.ic-Dashboard-header__layout {
    padding-right: 20px;
  }

  html.uoft-dark-mode body:not(.course-menu-expanded) .ic-sidebar-logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .uoft-dark-mode div.ic-Dashboard-header,
  html.uoft-dark-mode body.dashboard-is-planner .ic-Dashboard-header,
  .uoft-dark-mode div.ic-app-nav-toggle-and-crumbs {
    left: 0;
  }

  .uoft-dark-mode .ic-Dashboard-header__title .hidden-phone {
    display: block !important;
  }

  .uoft-dark-mode header#mobile-header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    min-height: 4.5rem;
  }

  .uoft-dark-mode nav#mobileContextNavContainer {
    position: fixed;
    right: 0;
    top: 90px;
    left: 0;
    z-index: 100;
  }

  .uoft-dark-mode div.ic-Layout-wrapper {
    padding-top: 90px;
  }
}
