@use "../common.scss";

// @include common.theme;

body {
  @include common.override {
    overflow-y: scroll;
  }

  @include common.override(light) {
    background-color: common.color(paper, 0, light);
    color: common.textColor(paper, 0, light);
  }

  @include common.override(dark) {
    background-color: common.color(paper, 0, dark);
    color: common.textColor(paper, 0, dark);
  }
}

div table.timetableSchedule tr .timeOfDay,
div table.timetableSchedule tr .dayOfWeek,
div#acorn-nav-side-parent,
nav#acorn-nav-top {
  @include common.override(light) {
    background-color: common.color(paper, 1, light);
  }

  @include common.override(dark) {
    background-color: common.color(paper, 1, dark);

  }
}

div#body-container,
div table.timetableSchedule tr td.emptySlot {
  @include common.override(light) {
    background-color: common.color(paper, 0, light);
    color: common.textColor(paper, 0, light);
  }

  @include common.override(dark) {
    background-color: common.color(paper, 0, dark);
    color: common.textColor(paper, 0, dark);
  }
}

div table.timetableSchedule tr .timeOfDay,
div table.timetableSchedule tr .dayOfWeek,
div table.timetableSchedule tr td,
div.acorn-card,
div#typeahead-search .ut-typeahead-container input,
div#typeahead-search .ut-typeahead-results-list ul,
div#typeahead-search .ut-typeahead-results-container .view-more,
div#typeahead-search .ut-typeahead-results-container .no-results,
div#typeahead-search .ut-typeahead-results-container .too-many-results,
div.osap-fee-deferral .section,
table.table-bordered,
table.table-bordered > tbody > tr > td,
table.table-bordered > tbody > tr > th,
table.table-bordered > tfoot > tr > td,
table.table-bordered > tfoot > tr > th,
table.table-bordered > thead > tr > td,
table.table-bordered > thead > tr > th,
div.calendar .date-calendar .day-container {
  @include common.override {
    flex: 1;
    margin: 0;
    border: 0 !important;
  }

  @include common.override(light) {
    background-color: common.color(paper, 1, light);
    color: common.textColor(paper, 0, light);
    border: 1px solid  common.color(paper, 2, light);
  }

  @include common.override(dark) {
    background-color: common.color(paper, 1, dark);
    color: common.textColor(paper, 0, dark);
    border: 1px solid  common.color(paper, 2, dark);
    border-radius: 6px;
  }
}

div.notifications-listing-container,
div.acorn-card-header,
div.acorn-card-footer,
div.courseInfo,
div.awards-container .cards-wrapper,
div.notification-activity-container {
  @include common.override {
    background-color: transparent;
  }
}

div.calendar .todays-events .event,
div.border-top-skip-first:not(:first-child),
div.acorn-card-footer,
div#acorn-footer .border,
div#acorn-footer .border:before,
div.acorn .currentlyEnrolledBox .courseDetailsBox .courseDetails td,
div#program-enrolment-app
  .subject_pos_contents
  .program_info_details
  table
  td,
div.awards-container .acorn-table tr:last-child td,
table.table > tbody > tr > td,
table.table > tbody > tr > th,
table.table > tfoot > tr > td,
table.table > tfoot > tr > th,
table.table > thead > tr > td,
table.table > thead > tr > th,
div.acorn .borderTopDashed {
  @include common.override {
  border-top: 1px solid transparent;
  }
}

div.acorn-card-header,
div.acorn .currentlyEnrolledBox .courseDetailsBox .courseDetails thead.header,
div.address.acorn-classic.page-container #address tbody tr,
div.contact.acorn-classic.page-container #contact tbody tr,
div.phone.acorn-classic.page-container #phone tbody tr,
div.address.acorn-classic.page-container #address thead tr,
div.contact.acorn-classic.page-container #contact thead tr,
div.phone.acorn-classic.page-container #phone thead tr,
div.address.acorn-classic.page-container #saAddress thead tr,
div.address.acorn-classic.page-container #saAddress tbody tr,
div.acorn-classic.page-container #otherInfo thead tr,
div.acorn-classic.page-container #otherInfo tbody tr,
div.acorn-classic.page-container .section,
div.acorn-classic.page-container .academic-history .sessionHeader,
div.awards-container .acorn-table th,
div.notification-activity-container .table tr td,
thead.notification-activity-header {
  @include common.override(light) {
    border-bottom: 1px solid common.color(paper, 1, light);

  }

  @include common.override(dark) {
    border-bottom: 1px solid common.color(paper, 1, dark);
  }
}

#descriptionId,
#main-content > div > div.acorn > div > help-and-feedback > div > div,
div.acorn-card-bg,
table.timetable.decorated,
div#dashboard-container .tab-box,
div.academic-info .tab-box,
ul.nav.nav-tabs .nav-item.active a,
ul.nav.nav-tabs .nav-item a,
ul.nav-tabs > li.active > a,
ul.nav-tabs > li.active > a:focus,
ul.nav-tabs > li.active > a:hover,
div.program-course-info,
table.course-meeting,
table.course-meeting tr th,
table.course-meeting .meeting-sections,
tr.course-section .course,
div#enrolment-app .currentlyEnrolledBox,
div.acorn .currentlyEnrolledBox .currentCourseTitleInfo,
div.acorn .currentlyEnrolledBox .courseDetailsBox,
div#typeahead-search .ut-typeahead-container input,
div#typeahead-search .cantFindResults,
div#typeahead-search .ut-typeahead-results-container .no-results,
div#typeahead-search .ut-typeahead-results-container .too-many-results,
div#typeahead-search .ut-typeahead-results-list ul li,
div#typeahead-search .ut-typeahead-results-container .view-more,
div#program-enrolment-app .subject_pos_contents .program_info_details,
div.acorn-classic.page-container,
div.acorn-classic.page-container table tr th,
div.address.acorn-classic.page-container #address tbody tr,
div.contact.acorn-classic.page-container #contact tbody tr,
div.phone.acorn-classic.page-container #phone tbody tr,
div.address.acorn-classic.page-container #saAddress tbody tr td,
div.acorn-classic.page-container #otherInfo tbody tr,
div.acorn-classic.page-container .academic-history .sessionHeader,
div.acorn-classic.page-container
  .academic-history-recent
  .recentAcademicHistoryLeft,
div.acorn-classic.page-container .academic-history-recent table .courses,
div.acorn-classic.page-container .gpa-listing,
div.acorn-classic.page-container .academic-history .coursesHeader,
div.acorn-classic.page-container
  .academic-history-recent
  .recentAcademicHistoryRight,
div.acorn-classic.page-container .courses,
div.acorn-classic.page-container .coursesHeader,
div.osap-fee-deferral .section,
div.taxes-container .tab-box,
div.awards-container .summary-section,
div.awards-container .acorn-table-padding,
div.awards-container .acorn-table-title,
div.awards-container .acorn-table th,
div.awards-container .acorn-table > tbody > tr > td,
div.awards-container .acorn-table > tbody > tr > th,
div.page-content-wrapper .select-with-button-section.flex-display select,
div#account-details pre,
div non-tuition-fees .acorn-card.acorn-card-bg,
select.form-control,
div.panel-default,
table.table-hover tbody tr:hover td,
table.table-hover tbody tr:hover th,
table.table-hover tbody tr td,
table.table-hover tbody tr th,
div.invoice-and-net-cost .tab-box,
div.invoice-and-net-cost .tab-box .section,
div pre,
div#acorn-notification-side,
div.notification-header,
div.side-notification-body.notification-style-read,
div.side-notification-body,
div.notification-activity-filter-div,
thead.notification-activity-header,
td.notification-activity-read,
div.notification-activity-container .table tbody tr,
div.calendar .date-calendar .day-container,
div#acorn-nav-side .nav-section-container a:hover {
  @include common.override(light) {
    background-color: common.color(paper, 2, light);
    color: common.textColor(paper, 1, light);
  }

  @include common.override(dark) {
    background-color: common.color(paper, 2, dark);
    color: common.textColor(paper, 1, dark);
  }
}

#main-content > div > div.acorn > div > div > div:nth-child(7) > div,
#main-content > div > div.acorn > div > div > div:nth-child(6) > div {
  @include common.override {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

div.acorn .enrolment-code,
div#acorn-footer .foot-header,
div#typeahead-search .ut-typeahead-container label,
div#program-enrolment-app .icon-cog:hover,
div.acorn .currentlyEnrolledBox i.icon-cog:hover,
div.currentCoursesBox .fa-calendar:hover,
div.currentCoursesBox .icon-calendar:hover,
div.acorn .courseSearchBox .courseDetailsBox .changeActivity .fa-pencil:hover,
div.acorn
  .courseSearchBox
  .courseDetailsBox
  .changeActivity
  .icon-pencil:hover,
div.absence-declaration h2,
div.absence-declaration h3,
div.acorn-classic.page-container .sectionHeader,
div.acorn-classic.page-container .subheading,
span.ut-tooltip .highlight,
div.acorn-classic.page-container
  .academic-history-recent
  table
  tr.coursesHeader
  th,
div.acorn-classic.page-container .academic-history-recent table .emph,
div.acorn-classic.page-container .academic-history .average-section,
div.acorn-classic.page-container .academic-history .courses,
div.acorn-classic.page-container .academic-history .coursesHeader,
div.acorn-classic.page-container .academic-history .credit-earned-section,
div.acorn-classic.page-container .academic-history .sessionHeader,
p.notification-info-field,
div.acorn .information,
span.notification-activity-tab-title,
span.notification-activity-filter-personal,
div#acorn-footer .uoft-footer {
  @include common.override(light) {
    color: common.textColor(paper, 0, light);
  }

  @include common.override(dark) {
    color: common.textColor(paper, 0, dark);
  }
}

div#acorn-footer ul li a,
div#program-enrolment-app .icon-cog,
div.acorn .currentlyEnrolledBox i.icon-cog,
div.currentCoursesBox .fa-calendar,
div.currentCoursesBox .icon-calendar,
div.acorn .courseSearchBox .courseDetailsBox .changeActivity .fa-pencil,
div.acorn .courseSearchBox .courseDetailsBox .changeActivity .icon-pencil,
div.acorn-classic.page-container .fa-pencil,
div.acorn-classic.page-container .icon-pencil,
div.acorn-classic.page-container .icon-trash {
  @include common.override(light) {
    color: common.textColor(paper, 2, light);
  }

  @include common.override(dark) {
    color: common.textColor(paper, 2, dark);
  }
}

ul.nav-tabs > li.active > a,
ul.nav-tabs > li.active > a:focus,
ul.nav-tabs > li.active > a:hover,
div.panel {
  @include common.override {
    border: none;
  }
}

div#typeahead-search .ut-typeahead-container input.loadingIcon {
  @include common.override(light) {
    background-color: common.color(paper, 2, light);
  }

  @include common.override(dark) {
    background-color: common.color(paper, 2, dark);
  }
}

div#typeahead-search .ut-typeahead-results-list ul li.active {
  @include common.override(light) {
    background-color: common.color(paper, 3, light);
  }

  @include common.override(dark) {
    background-color: common.color(paper, 3, dark);
  }
}

div.acorn-card-deck .acorn-card,
div.awards-container .cards-wrapper .acorn-card-deck .acorn-card {
  @include common.override(light) {
    border-left: 10px solid common.color(paper, 0, light);
    border-right: 10px solid common.color(paper, 0, light);  }

  @include common.override(dark) {
    border-left: 10px solid common.color(paper, 0, dark);
    border-right: 10px solid common.color(paper, 0, dark);
  }
}

div.acorn-card-placeholder,
div.acorn-classic.page-container .academic-history-recent .coursesHeader > *,
div.invoice-and-net-cost
  .net-cost
  .acorn-card-deck
  .acorn-card.acorn-card-placeholder {
    @include common.override(light) {
      background-color: common.color(paper, 1, light) !important;
    }
  
    @include common.override(dark) {
      background-color: common.color(paper, 1, dark) !important;
    }
}

div table.timetableSchedule tr .dayOfWeek {
  @include common.override{
    line-height: 40px;
  }
}

div table.timetableSchedule tr .timeOfDay {
  @include common.override{
    line-height: 98px;
  }
}

div#acorn-footer .acorn-logo {
  // ADD LIGHT MODE
  @include common.override{
    filter: grayscale(100%) invert(100%) brightness(0.9);
  }
}

div.finance-info .balance .debt {
  @include common.override(light) {
    color: common.color(focus, 1, light) !important;
  }

  @include common.override(dark) {
    color: common.color(focus, 1, dark) !important;
  }
}

div.dashboard-reg-status .registered,
div.acorn .finances {
  @include common.override(light) {
    color: common.color(primary, 1, light) !important;
  }

  @include common.override(dark) {
    color: common.color(primary, 1, dark) !important;
  }
}

#main-content > div > div.acorn > div > profile-address > div > div > div > div > div > profile-and-settings-sub-menu > div > ul > li > a,
#main-content > div > div.acorn > div > profile-address > div > div > div > div.address.acorn-classic.page-container > table.main > tbody > tr:nth-child(2) > td > a,
#main-content > div > div.acorn > div > absence-declaration > div > div > div > div > div > profile-and-settings-sub-menu > div > ul > li > a,
#main-content > div > div.acorn > div > absence-declaration > div > div > div > div.absence-declaration.skipprint.acorn-card-deck > div > div:nth-child(2) > div.acorn-card-block > div > a,
#main-content > div > div.acorn > div > absence-declaration > div > div > div > div.absence-declaration.skipprint.acorn-card-deck > div > div > div.acorn-card-block > p > a,
#main-content > div > div.acorn > div > profile-and-settings > div > div > div.acorn-card-deck > div > div.acorn-card-block > div > p > a,
#main-content > div > div.acorn > div > profile-and-settings > div > div > div.acorn-card-deck > div > div.acorn-card-block > div > ul > li > a,
#main-content > div > div.acorn > div > profile-and-settings > div > div > div.row.skipprint > div > profile-and-settings-sub-menu > div > ul > li > a,
tr > td > div > data-info-notice > div > p > a,
#wellBeingContent > div > div > well-being-support-content > div.well-being-support-content > div:nth-child(4) > div > div > div > div:nth-child(2) > support-content > p > a,
#wellBeingContent > div > div > well-being-support-content > div.well-being-support-content > div > div > div > div > div > support-content > a,
#wellBeingContent > div > div > well-being-support-content > div.well-being-support-cards > div > div > div > div.acorn-card-block > p > a,
#wellBeingContent > div > div > well-being-support-content > div.well-being-support-content > p > a,
#feedbackContent > div > div > div > div > div:nth-child(1) > div > a,
#emailHelpContent > div > div > div > div > div:nth-child(2) > p > a,
#emailHelpContent > div > div > div > div > div:nth-child(1) > div > figure > ul > li > a,
#notification-content-container > div.notification-panel-footer > p > a,
#ps_notification_61269913e4b0c9d30f25a214 > div.side-notification-body.notification-style-read.notification-style > div > data-info-notice > div > p > a,
#notification-body > div.notification-header > a,
#main-content > div > div.acorn > div > div > div:nth-child(6) > div > div:nth-child(2) > div.acorn-card-block > div > div > div > ul > li > a,
#main-content > div > div.acorn > div > div > div:nth-child(6) > div > div:nth-child(1) > div.acorn-card-block > div > div > div.flex-display > div.flex-item.todays-events > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > building-code-url > span > a {
  @include common.link;
}